<a href="https://colab.research.google.com/github/profcintiapinho/laboratorio_ia/blob/main/8_Fun%C3%A7%C3%B5es_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FUNÇÕES

Na programação, funções são blocos de código que realizam determinadas tarefas que normalmente precisam ser executadas diversas vezes dentro de uma aplicação. Quando surge essa necessidade, para que várias instruções não precisem ser repetidas, elas são agrupadas em uma função, à qual é dado um nome e que poderá ser chamada/executada em diferentes partes do programa.

## QUANDO PRECISAMOS SEGUIR UM PASSO DE INSTRUÇÕES SEMPRE QUE FOR FAZER ALGO NORMALMENTE SE CRIA FUNÇÕES, EXEMPLO, SE PRECISO CALCULAR A FOLHA DE PAGAMENTO DO FUNCIONÁRIO. TODOS OS MESES O RH PRECISA DAS SEGUINTES INFORMAÇÕES#

*   Qtde de horas Faltas
*   Qtde de dias Faltas
*   Qto o funcionário ganha por hora
*   Fez hora extra?
*   Qtdos dias trabalhados no Total?

SABE-SE QUE TODOS OS MESES ESSAS INFORMAÇÕES SÃO NECESSÁRIAS, PORÉM A FUNÇÃO QUE CALCULA TUDO ISSO JÁ FICA PRONTA, É SÓ FORNECECER AS INFORMAÇÕES(PARÂMETROS) QUE O SISTEMA CALCULA

ENTÃO PARA FICAR FÁCIL DE LEMBRAR PENSEM QUE A FUNÇÃO SÃO PROCEDIMENTOS A SEGUIR PARA REALIZAR DETERMINADA **FUNÇÃO**

![FUNCAOPYTHON.webp]()

**IMPORTANTE✈** 


1.   Toda função quando declarada é proseguida por **(  )**
2.   Nem toda função tem parâmetro para ser executada
3.   Existem Funções com retorno
4.   Existem Funções sem retorno

In [ ]:
# Função sem parâmetro e sem retorno
def primeiraFunc():
  print('Hello World')

## A função é definida porém é necessário chamá-la para ver o resultado de sua execução

In [ ]:
primeiraFunc()

Hello World

In [ ]:
#Função sem retorno, sem parâmetro, porém com mais instruções
def instrucoes_curso_python():
  print('1 - Fazer a Matricula')
  print('2 - Participar de 75% das aulas')
  print('3 - Enviar Exercícios')
  print('4 - Sempre tirar suas dúvidas')
  print('5 - Realizar Quiz')
  print('6 - Obter Bom desempenho')
  print('7 - Receber Certificado!')

In [ ]:
instrucoes_curso_python()

1 - Fazer a Matricula
2 - Participar de 75% das aulas
3 - Enviar Exercícios
4 - Sempre tirar suas dúvidas
5 - Realizar Quiz
6 - Obter Bom desempenho
7 - Receber Certificado!

In [ ]:
# Definindo uma função com parâmetro
def primeiraFunc(nome):
    print('Hello %s' %(nome))

In [ ]:
primeiraFunc("Cíntia")

Hello Cíntia

In [ ]:
#Usando Laço de Repetição sem retorno
def funcLeitura():
    for i in range(0, 5):
        print("Número " + str(i+1))

In [ ]:
funcLeitura()

Número 1
Número 2
Número 3
Número 4
Número 5

In [ ]:
#Usando Laço de Repetição sem retorno
def escalacao():
  listaEscalacao = []
  qtde = int(input("Quantos jogadores vai escalar?"))
  for i in range(qtde):
    jogador = (input("Escale o Jogador" + str(i+1)))      
    listaEscalacao.append(jogador)
  print("Jogadores Escalados: ", listaEscalacao)

In [ ]:
escalacao()

Quantos jogadores vai escalar?3
Escale o Jogador1Pedro
Escale o Jogador2Jose
Escale o Jogador3Alfredo
Jogadores Escalados:  ['Pedro', 'Jose', 'Alfredo']

In [ ]:
#Usando Laço de Repetição com retorno
def escalacao():
  listaEscalacao = []
  qtde = int(input("Quantos jogadores vai escalar?"))
  tipo = input("Para que tipo de esportes você escalar?")
  for i in range(qtde):
    jogador = (input("Escale o Jogador" + str(i)))      
    listaEscalacao.append(jogador)
  return listaEscalacao, tipo

In [ ]:
#Quando você precisa manipular o retorno depois é melhor fazer a função dessa forma
variavel_recebe_retorn, esporte = escalacao()

Quantos jogadores vai escalar?4
Para que tipo de esportes você escalar?Peteca
Escale o Jogador0Marta
Escale o Jogador1Cíntia
Escale o Jogador2Fernanda
Escale o Jogador3Alfredo

In [ ]:
variavel_recebe_retorn

['Marta', 'Cíntia', 'Fernanda', 'Alfredo']

In [ ]:
esporte

'Peteca'

In [ ]:
print("Os Jogadores escalados foram: ", variavel_recebe_retorno )

Os Jogadores escalados foram:  ['Alberto', 'Fernando']

In [ ]:
# Função para somar números
def addNum(firstnum, secondnum):
    print("Primeiro número: " + str(firstnum))
    print("Segundo número: " + str(secondnum))
    print("Soma: ", firstnum + secondnum)

In [ ]:
addNum(10,50)

Primeiro número: 10
Segundo número: 50
Soma:  60

In [ ]:
def horastrabalhadas(hora, minutos, valor):
  convertido = minutos/60
  result = (hora + convertido) * valor
  return result

In [ ]:
valor = horastrabalhadas(133,25,50)
valor

6670.833333333333

In [ ]:
def soma (num1, num2):
  resp = num1+num2
  return resp
def sub (num1, num2):
  resp = num1-num2
  return resp
def mult (num1, num2):
  resp = num1*num2
  return resp
def div (num1, num2):
  resp = num1/num2
  return resp

In [ ]:
div(20,5)

4.0

In [ ]:
#exemplos de manipulação de retornos usando outras funções que foram realizadas anteriormente, retornando mais de um valor
def calculadora():
  calc = int(input("Calculadora Acionada, qual cálculo você quer fazer? \n Digite 1 para Somar \n Digite 2 para Subtrair \n Digite 3 para Multiplicar \n Digite 4 para Dividir"))
  valor1 = int(input("Digite o Primeiro Valor para fazer o Cálculo:"))
  valor2 = int(input("Digite o Segundo Valor para fazer o Cálculo:"))
  if calc == 1:
    resul = soma(valor1,valor2)
    tipo = " fez Soma"
  elif calc == 2:
    resul = sub(valor1,valor2)
    tipo =  "fez Subtração"
  elif calc ==3:
    resul = mult(valor1,valor2)
    tipo = "fez Multiplicação"
  elif calc ==4:
    resul = div(valor1,valor2)
    tipo = " fez Divisão"
  else:
    resul = "invalido"
    tipo = "invalido"
  if resul == "invalido":
    resul = "não digitou um valor válido pra fazer o cálculo"    
  return resul, tipo

In [ ]:
resultado, tipo = calculadora()

Calculadora Acionada, qual cálculo você quer fazer?
 Digite 1 para Somar
 Digite 2 para Subtrair
 Digite 3 para Multiplicar
 Digite 4 para Dividir2
Digite o Primeiro Valor para fazer o Cálculo:50
Digite o Segundo Valor para fazer o Cálculo:2

In [ ]:
print("Você", tipo, "o resultado obtido foi: ", resultado)

Você fez Subtração o resultado obtido foi:  48

In [ ]:
# Variável Global
var_global = 10  # Esta é uma variável global

def multiply(num1, num2):
    var_global = num1 * num2  # Esta é uma variável local
    print(var_global)

In [ ]:
var_global

10

In [ ]:
multiply(5,6)

30

In [ ]:
#como a variável var_global foi criada também dentro da função ele só será utilizada ali dentro.
var_global

10

In [ ]:
#caso eu tente acessar uma vaiável local:
def multiply(num1, num2):
    var_local = num1 * num2  # Esta é uma variável local
    print(var_local)

In [ ]:
multiply(2,3)

6

In [ ]:
#tentando acessar variável local
var_local

NameError: ignored

In [ ]:
# Usando a função int para converter o valor digitado, o int é uma função que alguém criou e que 
idade =int(input("Digite sua idade: "))
if idade > 13:
    print("Você pode acessar o Facebook")

Digite sua idade: 40
Você pode acessar o Facebook

In [ ]:
nome = "cintia"
len(nome)

6

In [ ]:
# Fazendo split dos dados
def split_string(text):
    return text.split(" ")

In [ ]:
texto = "Esta função será bastante útil para separar grandes volumes de dados."

In [ ]:
# Isso divide a string em uma lista.
print(split_string(texto))

['Esta', 'função', 'será', 'bastante', 'útil', 'para', 'separar', 'grandes', 'volumes', 'de', 'dados.']

In [ ]:
token = split_string(texto)
token[2]

'será'

In [ ]:
token[4]

'útil'

In [ ]:
caixa_baixa = "Este Texto Deveria Estar Todo Em LowerCase"

In [ ]:
def lowercase(text):
    return text.lower()

In [ ]:
lowercase(caixa_baixa)

'este texto deveria estar todo em lowercase'

In [ ]:
# Funções com número variável de argumentos
def printVarInfo( arg1, *vartuple ):
   # Imprimindo o valor do primeiro argumento
    print ("O parâmetro passado foi: ", arg1)
   
   # Imprimindo o valor do segundo argumento 
    for item in vartuple:
        print ("O parâmetro passado foi: ", item)
    return;

In [ ]:
# Fazendo chamada à função usando apenas 1 argumento
printVarInfo(10)

O parâmetro passado foi:  10

In [ ]:
printVarInfo('Chocolate', 'Morango', 'Banana',1, True)

O parâmetro passado foi:  Chocolate
O parâmetro passado foi:  Morango
O parâmetro passado foi:  Banana
O parâmetro passado foi:  1
O parâmetro passado foi:  True